.preview-slider {
  overflow: hidden;
  text-align: center;
}
.preview-slider ._slides {
  display: inline-block;
}
.preview-slider ._slides:hover ._item {
  opacity: 0.6;
}
.preview-slider ._slides:hover ._item.active {
  opacity: 1;
}
.preview-slider ._slides:hover ._item:hover {
  opacity: 1;
}
.preview-slider ._item {
  float: left;
  width: 160px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.preview-slider ._item.active {
  opacity: 1;
  cursor: url('../img/cursor_hand-arrow.png'), url('../img/cursor_hand-arrow.cur'), ew-resize !important;
}
.preview-slider ._item:hover {
  cursor: pointer;
}
._indicator {
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
._indicator ._item {
  float: left;
  height: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
._indicator ._item.active {
  background-color: #000000;
}
